<div class="password-input-container">
    <label for="password">Enter Password:</label>
    <input type="password" id="password" class="password-input" [(ngModel)]="password" (input)="updatePasswordStrength()">

    <div class="strength-container">
        <div class="strength-section" [style.background-color]="passwordStrength[0]"></div>
        <div class="strength-section" [style.background-color]="passwordStrength[1]"></div>
        <div class="strength-section" [style.background-color]="passwordStrength[2]"></div>
    </div>
</div>
